<%- include('partials/header'); -%>
<img src="https://w7.pngwing.com/pngs/981/554/png-transparent-weather-forecasting-rain-weather-winter-text-weather-forecasting-thumbnail.png" alt="weather image" height="200" />
<form action="/report" method="post">
  <input name="cityName" class="input-city" type="text" placeholder="Enter city name" />
  <button  type="submit" name="button">Check</button>
  </form>
<%- include('partials/footer'); -%>
